div.stImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
	text-align: center;
}

div[data-testid="stImageContainer"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
